.image-section-container {
  width: 100vw;
  height: 424px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
@media only screen and (min-width: 426px) {
  .image-section-container picture {
    width: 25%;
  }
  .image-section-container picture img {
    width: 100%;
    object-fit: cover;
  }
}
