.client-testimonials h3 {
  font-size: 24px;
  font-family: var(--font-fraunces);
  text-align: center;
  color: var(--colorss-grayish-blue);
  margin-top: 150px;
}
.testimonial-container {
  display: flex;
  flex-direction: row;
}
