.client-testimonials h3 {
  font-size: 24px;
  font-family: var(--font-fraunces);
  text-align: center;
  color: var(--colorss-grayish-blue);
  margin-top: 150px;
  letter-spacing: 3px;
}
.testimonial-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 75px;
  padding-bottom: 100px;
}
.testimonial-item {
  display: flex;
  flex-direction: column;
}
.testimonials-item img {
  display: block;
  border-radius: 50%;
  width: 75px;
  margin: auto;
}
.testimonial-description {
  font-family: var(--font-barlow);
  text-align: center;
  width: 350px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 1px;
  color: var(--colorss-dark-blue);
  margin-top: 50px;
}
.client-name {
  font-family: var(--font-fraunces);
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  opacity: 0.8;
}
.client-job {
  font-size: 14px;
  font-family: var(--font-barlow);
  text-align: center;
  color: var(--colorss-grayish-blue);
  font-weight: bold;
  margin-top: 10px;
}
